$lightskyblue: #87cefa;
$black: black;
$light-grey-border: 1px solid #eaeaea;
$purple: #6b46c1;
.self_align_center {
    align-self: center;
}

.justify_content_center {
    justify-content: center;
}

.text_white {
    color: white;
}

.purple_color {
    background-color: $purple;
    opacity: 0.6;
}

.enlarge {
    height: 212px;
}

.purple_color:hover,
.enlarge:hover {
    opacity: 1;
    transform: scale(1.1);
}

.fyp_border_radius_10 {
    border-radius: 10px;
}

.fyp_logo_service_calendar {
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 5px;
}

.calendar_stylist {
    background-color: $lightskyblue;
    padding-top: 7px;
    opacity: 0.7;
}

.layout_page {
    background: #4A5568;
    color: white;
    font-size: 22px;
    padding: 15px;
}

.calendar_stylist_buttons {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    height: 29px;
    margin-bottom: 7px;
}

.fyp_flex_auto {
    flex: auto;
}

.fyp_display_flex {
    display: flex;
}

.fyp_header_container {
    background-color: yellow;
    opacity: 0.5;
    height: 20px;
    color: black;
    text-decoration: none;
}

.cursor_pointer {
    cursor: pointer;
}

.fyp_margin_top_auto {
    margin-top: auto;
}

.fyp_margin_1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fyp_margin_3rem {
    margin-top: 3rem;
}

.fyp_text_align_center {
    text-align: center;
    align-self: center;
}

.fyp_login {
    background-color: lightblue;
    text-align: center;
    border-radius: 20px;
}

.fyp_login_text {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    margin: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: $light-grey-border;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
}

.font_1_point_5rem {
    font-size: 1.5rem !important;
}

.fyp_js_tabs_border {
    border: $light-grey-border;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.fyp_disabled_calendar {
    background-color: grey;
    opacity: 0.5;
    cursor: no-drop;
}

.fyp_login_register {
    border-width: 2px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0);
    border: radius 0.5rem;
    padding: 1rem;
    width: auto;
}

.fyp_button_login {
    background: #319795;
    color: white;
    // margin-left:0.5rem;
    padding-inline-end: 1rem;
    border-radius: 5px;
}

.fyp_landing_page_design {
    // background-image: linear-gradient(to right, #7F00FF, #E100FF);
    background: linear-gradient(to right, #5433FF, #20BDFF);
    color: white;
    padding-bottom: 10px;
}

.fyp_landing_page_sunny_size {
    width: 10vw !important;
}

.fyp_height_120_width_100 {
    height: 120px;
    width: 100px;
}

.fyp_align_self_center {
    align-self: center;
}

.fyp_get_started_button {
    height: 32px;
    background-image: linear-gradient(to right, #7F00FF, #E100FF);
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

.fyp_get_started_button:hover {
    color: #E100FF;
    background: white;
    transition: 1s;
}

.fyp_login_header {
    background-image: linear-gradient(to right, #7F00FF, #E100FF);
    color: white;
}

.fyp_landing_page_bottom_content {
    background: linear-gradient(to right, #f6b73c, #76ff03);
}

.login_register_button {
    text-align: -webkit-center;
    button {
        display: flex;
        width: 248px;
        img {
            height: 30px;
            width: 30px;
        }
        span {
            margin-top: 5px;
            flex: auto;
        }
    }
}

.fyp_circle {
    border-radius: 50%;
    // border: 2px solid white;
}

.fyp_profile {
    display: none;
}

.fyp_profile:hover {
    display: block;
}

.fyp_28vh {
    height: 28vh;
}

.fyp_35 {
    height: 35px;
    width: 35px;
}

.fyp_50 {
    height: 50px;
    width: 50px;
}

.fyp_78 {
    height: 78px;
    width: 78px;
}

.fyp_100 {
    height: 100px;
    width: 100px;
}

.fyp_551 {
    height: 551.4px;
}

.profile_dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 50%;
}

.profile_dropdown:hover {
    transform: scale(1.1);
    border: 3px solid lightseagreen;
    border-radius: 50%;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid black
}

.important {
    z-index: 1;
}

.dropdown-content a {
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 32px;
     :hover {
        background-color: grey;
        opacity: 0.5;
    }
}

.dropdown_content_header {
    color: $black;
}

.profile_dropdown:hover .dropdown_content {
    display: block;
}

.fyp_padding_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fyp_padding_all_10 {
    padding: 10px;
}

.fyp_destroy_padding_right {
    padding-right: 0px !important;
}

.fyp_destroy_padding_vertical {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.fyp_destroy_margin_side {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.fyp_margin_side_6 {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.fyp_margin_side_15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.fyp_destroy_margin_vertical {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

%whatHow {
    text-align: center;
    font-weight: 800;
    line-height: normal;
    word-break: break-word;
}

.what {
    background: -webkit-linear-gradient(right, #5433FF, #20BDFF);
    @extend %whatHow;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
}

.whatDesc {
    text-align: center;
    font-size: 24px;
}

.whatDescPattern {
    border: 1px solid black;
    border-radius: 10px;
}

.cursor {
    border-left: .2em solid white;
    animation: blink .7s steps(1) infinite;
    margin-left: 2px;
}

.underline {
    text-decoration: underline;
}

.bolder {
    font-weight: bolder;
}

.letter_spacing {
    letter-spacing: 1.1px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.How {
    background: -webkit-linear-gradient(right, #FF512F, #DD2476);
    @extend %whatHow;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.online_status {
    position: absolute;
    height: 18px;
    width: 18px;
    bottom: 0px;
    right: 0px;
    border: 3px solid white;
    background-color: green;
    border-radius: 50%;
}

.header_about_button {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding-top: 10px;
}

.Handsome {
    background-color: #f6b73c;
}

.hrStyle {
    border-width: 0px 0px 1px;
    border-bottom-style: solid;
    border-color: inherit;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

.fontSize_initial {
    font-size: initial;
}

.enlargeHome {
    animation: enlargeHome 1.5s infinite;
    animation-direction: alternate;
}

@keyframes enlargeHome {
    0% {
        transform: scale(none);
    }
    100% {
        transform: scale(1.4);
    }
}

.margin_auto {
    margin: auto;
}

.alignItemMIddle {
    align-items: center;
}

.black {
    color: black;
}

.minimizeHeader {
    background-color: white;
    z-index: 1;
}

.landingPageZoom {
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-name: animation-zooming;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes animation-zooming {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

