$green-background-color:green;
$crystal:white;
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-background-color;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

//common used position CSS
.agr_display_inline {
    display: inline-block;
}

.agr-display-block {
    display: block;
}

.agr_padding_left_10 {
    padding-left: 10px;
}

.agr_padding_right_10 {
    padding-right: 10px;
}

.agr_padding_10_all {
    padding: 10px;
}

.agr_padding_20_all {
    padding: 20px;
}

.agr-spacing30 {
    padding-right: 30px;
}

.agr-vertical-top {
    vertical-align: top;
}

.agr_vertical_mid {
    vertical-align: middle !important;
}

.agr-float-right {
    float: right;
}

.agr-float-left {
    float: left;
}

.agr-hidden {
    display: none!important;
}

.agr-overflow-hidden {
    overflow: hidden;
}

.agr_overflow_x_hidden {
    overflow-x: hidden !important;
}

.agr-height-hundred {
    height: 100%;
}

.agr-width-hundred {
    width: 100%;
}

.agr-width-ninety {
    width: 90%;
}

.agr_width_eighty {
    width: 80%;
}

.agr_width_sixty {
    width: 60% !important;
}

.agr-width-ninety-two {
    width: 92%;
}

.agr-width-ninety-six {
    width: 96%;
}

.agr-width-seventy-vw {
    width: 70vw;
}

.agr_width_fifty_vw {
    width: 50vw;
}

.agr_width_ten_vw {
    width: 10vw;
}

.agr-width-fifty {
    width: 48%;
}

.agr-width-sixty {
    width: 66%;
}

.agr-width-thirty {
    width: 32%;
}

.agr-width-seventy-five {
    width: 73%;
}

.agr-width-twenty-five {
    width: 25%;
}

.agr_width_fifteen_vw {
    width: 15vw;
}

.agr_width_twenty_five_vw {
    width: 25vw;
}

.agr_width_seventy_five_vw {
    width: 75vw;
}

.agr_width_eighty_five_vw {
    width: 85vw;
}

.agr-width-thirty-sharp {
    width: 30%;
}

.agr-width-thirty-five {
    width: 36%;
}

.agr-width-eighty-five {
    width: 85%;
}

.agr-width-fifteen {
    width: 13%;
}

.agr-width-zero {
    width: 0;
}

.agr-min-height-60 {
    min-height: 60vh;
}

.agr-min-height-65 {
    min-height: 65vh !important;
}

.agr-min-height-85 {
    min-height: 85vh !important;
}

.agr_margin_all_5 {
    margin: 5px;
}

.agr_margin_10 {
    margin-left: 10px;
    margin-right: 10px;
}

.agr-margin-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.agr_margin_right_5 {
    margin-right: 5px;
}

.agr_margin_right_10 {
    margin-right: 10px;
}

.agr-margin-right-20 {
    margin-right: 20px;
}

.agr-margin-right-25 {
    margin-right: 25px;
}

.agr_margin_right_30 {
    margin-right: 30px;
}

.agr-margin-between-buttons {
    margin-right: 10px;
}

.agr-margin-left-3 {
    margin-left: 3px;
}

.agr_margin_left_5 {
    margin-left: 5px;
}

.agr_margin_left_10 {
    margin-left: 10px;
}

.agr_margin_left_15 {
    margin-left: 15px;
}

.agr-margin-left-20 {
    margin-left: 20px;
}

.agr-margin-left-25 {
    margin-left: 25px;
}

.agr-margin-left-30 {
    margin-left: 30px;
}

.agr-mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.agr_margin_vertical {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.agr-margin-bottom-1 {
    margin-bottom: 1px;
}

.agr-margin-bottom-2 {
    margin-bottom: 2px;
}

.agr-margin-bottom-3 {
    margin-bottom: 3px;
}

.agr-margin-bottom-4 {
    margin-bottom: 4px;
}

.agr-margin-bottom-5 {
    margin-bottom: 5px;
}

.agr-margin-bottom-7 {
    margin-bottom: 7px;
}

.agr_margin_bottom_10 {
    margin-bottom: 10px;
}

.agr-margin-bottom-11 {
    margin-bottom: 11px;
}

.agr_margin_bottom_15 {
    margin-bottom: 15px;
}

.agr-margin-bottom-20 {
    margin-bottom: 20px;
}

.agr-margin-bottom-30 {
    margin-bottom: 30px;
}

.agr-margin-bottom-60 {
    margin-bottom: 60px;
}

.agr-margin-bottom-90 {
    margin-bottom: 90px;
}

.agr-margin-bottom-120 {
    margin-bottom: 120px;
}

.agr-margin-bottom-150 {
    margin-bottom: 150px;
}

.agr_margin_between_row {
    margin-bottom: 5px;
}

.agr_margin_last_row {
    margin-bottom: 15px;
}

.agr-top-160 {
    top: 160px;
    position: relative;
    display: block;
}

.agr-top-120 {
    top: 120px;
    position: relative;
    display: block;
}

.agr-top-100 {
    top: 100px;
    position: relative;
    display: block;
}

.agr-top-80 {
    top: 80px;
    position: relative;
    display: block;
}

.agr-top-60 {
    top: 60px;
    position: relative;
    display: block;
}

.agr-margin-top-2 {
    margin-top: 2px;
}

.agr-margin-top-3 {
    margin-top: 3px;
}

.agr-margin-top-4 {
    margin-top: 4px;
}

.agr_margin_top_5 {
    margin-top: 5px;
}

.agr_margin_top_6 {
    margin-top: 6px;
}

.agr_margin_top_10 {
    margin-top: 10px;
}

.agr_margin_top_15 {
    margin-top: 15px;
}

.agr_margin_top_20 {
    margin-top: 20px;
}

.agr_margin_top_30 {
    margin-top: 30px;
}

.agr-margin-top-40 {
    margin-top: 40px;
}

.agr-margin-top-50 {
    margin-top: 40px;
}

.agr-margin-top-60 {
    margin-top: 60px!important;
}

.agr-margin-top-70 {
    margin-top: 70px!important;
}